.chatWindow {
  height: 88.5%;
  overflow-y: scroll;
}

.fa-times {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.friendListButton {
  position: fixed;
  top: 97%;
  right: 0;
  width: 14.85%;
}

.friendList {
  top: 30%;
  left: 85.1%;
  height: 66.5%;
  width: 14.2%;
  position: fixed;
  color: black;
  overflow-y: scroll;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.spinner {
  color: black;
  font-size: 25px;
}

.chatSpinner {
  color: white;
  position: absolute;
  top: 35%;
  right: 45%;
  font-size: 50px;
}

.chatWindow {
  background-color: rgba(44, 44, 44, 0.93);
}

.messageSender {
  color: red;
}

.messageReceiver {

  color: green;
}

.messageTime {
  color: #4678ff;
}

.messageSent {
  color: white;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#friendChatButton0{
  display: none;
  position: fixed;
  top: 97%;
  left: 61%;
  width: 23%;
  text-align: center;
  background-color: grey;
  color: white;
}

#friendChat0{
  top: 46.5%;
  left: 61%;
  height: 50%;
  width: 23%;
  position: fixed;
  color: black;
}

#friendChatButton1{
  display: none;
  position: fixed;
  top: 97%;
  left: 37%;
  width: 23%;
  text-align: center;
  background-color: grey;
  color: white;
}

#friendChat1{
  top: 46.5%;
  left: 37%;
  height: 50%;
  width: 23%;
  position: fixed;
  color: black;
}

#friendChatButton2{
  display: none;
  position: fixed;
  top: 97%;
  left: 13%;
  width: 23%;
  text-align: center;
  background-color: grey;
  color: white;
}

#friendChat2{
  top: 46.5%;
  left: 13%;
  height: 50%;
  width: 23%;
  position: fixed;
  color: black;
}

.chat0,
.chat1,
.chat2,
.chat3 {
  position: absolute;
  top: 87%;
  height: 47px;
  width: 85%;
}

.chatButton0,
.chatButton1,
.chatButton2,
.chatButton3 {
  position: absolute;
  top: 87%;
  height: 47px;
  right: 0;
}
