<div *ngIf="isSigned() && friends != null" class="dropup">
    <button class="dropdown-toggle friendListButton" type="button" data-toggle="dropdown">Friends</button>
    <div class="dropdown-menu friendList" (click)="$event.stopPropagation()">
      <span class="spinner fa fa-circle-o-notch fa-spin" *ngIf="isSigned() && isAuth() && loading"></span>
      <div *ngIf="!loading">
        <div *ngFor="let friend of friends; let i = index;">
          <a (click)="openChatWindow(friend.name,i)">{{friend.name}}</a>
          <span *ngIf="friend.loggedIn == true" class="online">o</span>
          <span *ngIf="friend.loggedIn == false" class="offline">o</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let friend of friends; let i = index;">
    <div class="dropup" >
      <span class="dropdown-toggle" id="friendChatButton{{i}}" type="button" data-toggle="dropdown">{{friendName[i]}}</span>
      <div class="dropdown-menu" id="friendChat{{i}}" (click)="$event.stopPropagation()">
        <div class="chatWindow" id="chatterBox{{i}}">
          <span class="fa fa-times" (click)="closeChatWindow(i)"></span>
          <div class="messageContainer" *ngFor="let send of senderList[i]">
            <div>
              <div class="messageTime">{{send.time | date:"MM/dd/yyyy hh:mm:ss a"}}</div>
              <span class="messageSender">{{send.sender}}:</span>
              <span class="messageSent">{{send.message}}</span>
            </div>
          </div>
        </div>
        <div>
          <input class="chat{{i}}" [(ngModel)]="chats[friend.name]">
          <button class="chatButton{{i}}" (click)="onMessageSend(friendName[i], chats[friend.name], i); chats[friend.name] = ''">Send</button>
        </div>
      </div>
    </div>
  </div>
