<div class="threadPageBackGround">
  <div class="container">
      <div *ngIf="id > 0" class="threadContainer">
          <span class="threadTitle">{{threadTitle}}</span>
            <div *ngFor="let post of posts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index;">
              <div class="entirePost" id="post{{(i)+(currentPage*itemsPerPage)-itemsPerPage}}">
                <div class="left-panel">
                  <div class="userContainer">

                    <div *ngFor="let user of allUsers; let j = index">
                      <div *ngIf="user.username == post.author">

                        <div class="userName">
                          <span>{{post.author}}</span>
                          <span *ngIf="user.loggedIn" class="signInStatus fa fa-circle"></span>
                          <span *ngIf="!user.loggedIn" class="signOutStatus fa fa-circle"></span>
                        </div>
                        <div class="userStatus">

                          <span class="userRole" [ngClass]="authorColor[(i)+(currentPage*itemsPerPage)-itemsPerPage]">{{post.role}}</span>
                        </div>
                        <br>
                        <img [src]="imageSrc[i]" class="profileImg">
                        <br>
                        <div class="userDetails">
                          <span>Post Title: </span>
                          <span>{{user.postTitle}}</span>
                          <br>
                          <span >Posts: </span>
                          <span>{{user.numberOfPosts}}</span>
                          <br>

                          <span>Location: </span>
                          <span>{{user.state}}, {{user.country}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right-panel">
                  <div class="dateContainer">
                    <span>{{post.time | date:"MM/dd/yyyy hh:mm:ss a"}}</span> #{{(i+1)+(currentPage*itemsPerPage)-itemsPerPage}}
                  </div>
                  <div class="postContainer">
                    <span>{{post.post}}</span>
                  </div>
                </div>
              </div>
            </div>
          <pagination-controls autoHide="true" (pageChange)="currentPage = $event"></pagination-controls>
          <textarea type="text" [(ngModel)]="text"></textarea>
          <button class="postButton" (click)="createPost(author, text); text = ''">Create post</button>
      </div>
    <div *ngIf="id == 0">
      <div class="emptyPost">
          <div class="emptyPostContainer">
            <span>There Aren't any posts yet!  Be the first one to post on this thread</span>
          </div>
      </div>
      <textarea type="text" [(ngModel)]="text"></textarea>
      <button class="postButton" (click)="createPost(author, text); text = ''">Create post</button>
    </div>
  </div>
</div>
