<div class="headerContainer">
  <button *ngIf="isSigned() && isAuth() && !loading" (click)="onHome()">Home</button>
  <button *ngIf="isSigned() && isAuth() && !loading" (click)="onMembers()">members</button>
  <button *ngIf="isSigned() && isAuth() && !loading" (click)="onForm()">Form</button>
  <div class="notificationContainer dropdown" *ngIf="isSigned() && showNotifications == true && isAuth() && !loading" type="button" data-toggle="dropdown">
    <div class="dropdown">
      <span class="notificationIcon fa fa-bell dropdown-toggle" type="button" data-toggle="dropdown"></span>
      <span class="notificationNumber">{{numOfNotifications}}</span>
      <div class="dropdown-menu notificationMenu">
        <i class="fa fa-caret-up dropDownMenuArrow"></i>
        <span class="numberOfNotifications">Notifications {{numOfNotifications}}</span>
        <div *ngFor="let request of requests" class="notificationSubContainer" (mouseover)="setUsername(request.name);">
          <span> {{request.name}} </span>
          <button class="acceptButton" (click)="onAccept(request.name)">Accept</button>
        </div>
      </div>
    </div>

  </div>
  <span class="spinner fa fa-circle-o-notch fa-spin" *ngIf="isSigned() && isAuth() && loading"></span>
  <div class="profileImgContainer" *ngIf="isSigned() && isAuth() && !loading">
    <span class="dropdown">
      <img [src]="imageSrc" data-toggle="dropdown" class="profileImg">
      <div class="dropdown-menu">
        <i class="fa fa-caret-up dropDownMenuArrow"></i>
        <div>
           <img [src]="imageSrc" data-toggle="dropdown" class="dropDownProfileImg">
          <span *ngIf="isSigned()" class="userText">{{profileName}}</span>
        </div>
        <div class="accountSection">
          <a class="AccountLink" (click)="goToProfile()">Account</a>
          <button class="logoutButton" *ngIf="isSigned() && isAuth() && !loading" (click)="onLogout()">logout</button>
        </div>
      </div>
    </span>
  </div>
</div>

