.headerContainer {
  height: 50px;
  background-color: grey;
}

.profileImgContainer {
  height: auto;
  position: absolute;
  right: 0;
}

.notificationContainer {
  position: absolute;
  right: 60px;
  color: white;
}

.notificationMenu {
  top: 40px !important;
  right: 10px;
}

.spinner {
  position: absolute;
  left: 47%;
  color: white;
  font-size: 45px;
}

.dropdown-menu {
  left: -235px;
  min-width: 250px;
  top: 27px;
}

.profileImg {
  right: 20px;
  height: 40px;
  width: 40px;
  bottom: 20px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.dropDownProfileImg {
  position: relative;
  left: 15px;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: grey;
  height: 200px;
}

.dropDownMenuArrow {
  color: grey;
  font-size: 29px;
  position: absolute;
  left: 90%;
  top: -19px;
}

.numberOfNotifications {
  margin-bottom: 1em;
  padding-left: 6em;
}

.notificationSubContainer {
  margin-bottom: 1em;
}

.accountSection {
  padding-top: 4em;
}

.AccountLink {
  position: relative;
  left: 10px;
  cursor: pointer;
  color: white;
}

.logoutButton {
  position: absolute;
  left: 75%;
}

.acceptButton {
  color: black;
  position: absolute;
  right: 0;
}

.userText  {
  color: white;
  position: relative;
  margin-right: 0.5em;
  left: 20px;
  font-size: 20px;
}

.notificationNumber {
  position: relative;
  bottom: 14px;
  right: 10px;
  background-color: red;
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.notificationIcon{
  font-size: 20px;
}
