<button (click)="hideTime()">Hide time stamp</button>
<button (click)="showTime()">Show time stamp</button>
<button (click)="clearChat()">Clear Chat</button>
<div class="chatContainer">
  <div class="messageContainer">
    <div *ngFor="let message of messages">
      <span *ngIf="showTimestamp" class="messageTime">{{message.time | date:"MM/dd/yyyy hh:mm:ss a"}} - </span>
      <span class="messageSender">{{message.sender}}:</span>
      <span class="messageSent">{{message.message}}</span>
    </div>
  </div>
  <div class="textContainer">
      <form [formGroup]="chatForm" (ngSubmit)="onMessageSend()">
        <textarea type="text" id="chatBox" formControlName="chatBox" [(ngModel)]="chatTextArea"></textarea>
        <button type="submit" class="SendMessageButton btn btn-primary" [disabled]="!chatForm.valid">Send Message</button>
      </form>
  </div>
</div>
