<div class="container">
  <div class="avatarContainer">
    <img [src]="imageSrc" class="avatar"/>
  </div>
</div>


<!--<div class="fileFormContainer">-->
  <!--<input (change)="getFile($event)" type="file" id="file" accept="image/*">-->
  <!--<img *ngIf="isFile" [src]="imgSrc" height="75px" width="75px">-->
  <!--<button type="submit" class="uploadButton btn btn-primary" (click)="onUpload()" [disabled]="!isFile">Upload</button>-->
  <!--<span *ngIf="imgTooBig" class="validation-error">Image is too big!</span>-->
  <!--<img class="image" />-->
<!--</div>-->
